<?xml version="1.0"?>
<robot name="Needle" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find needle_description)/urdf/needle.xacro"/>
  <!--Maximum curvature approximation [1/m], Needle length [m], Needle diameter [m], Number of segments in mesh -->
  <xacro:needle_constructor aprx_crv="6" ndl_len="0.17" ndl_dia="0.00081" n_seg="4"/>
</robot>

